@model IEnumerable<Product>


<b>Product List: Page @ViewBag.PageNumber</b>

<table id="products" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Color</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model)
        {
            <tr>
                <td>@prod.Id</td>
                <td>@prod.Name</td>
                <td>@prod.Color</td>
                <td>
                    <a asp-controller="Product" asp-route-pid="@prod.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript">
        function getProduct() {
            $("#products");
        }
    </script>
}

