@model IEnumerable<EComm.Shared.Models.Product>

@{
    var message = TempData["message"]?.ToString();
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="alert alert-info">
    Hello @User.Identity.Name<br />
    
    @if (User.IsInRole("admin")) {
        var windowsIdentity = (System.Security.Principal.WindowsIdentity)User.Identity;

        foreach (var group in windowsIdentity.Groups)
        {
            group.Translate(typeof(System.Security.Principal.NTAccount)).ToString();
        }
    }
</div>
<div>
    @*<partial name="~/Views/PartialViews/_TopCustomer.cshtml"/>*@
    @await Component.InvokeAsync("TopCustomerComponent")
    @*<vc:top-customer-component></vc:top-customer-component>*@
</div>
<div>
    Uid: <b>@ViewBag.Uid</b>
</div>
@if (message != null)
{
    <div class="alert alert-success">
        @message
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
