@model IEnumerable<WebDemo.Shared.Models.Product>
@using WebDemo.Helpers
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<table id="products" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.ProductName</td>
                <td>@*<img alt="@product.ProductName" src="@Html.Image("image1.png","Blue Bike")" />*@</td>
                <td>@Html.ActionLink("Details", "Details", new { id = product.Id }) | @Html.ActionLink("Delete", "Delete", new { id = product.Id })</td>
            </tr>
        }

    </tbody>
</table>

<footer>
    <partial name="_Footer" />
</footer>

<script type="text/javascript" on-content-loaded="true">
    $(document).ready(function () {
        $('#products').DataTable();
    });
</script>

