@model AdventureWorks.Shared.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Department</label>
        </dt>
        <dd>
            @Html.DropDownList("departmentId", Model.DepartmentList)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.MiddleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.MiddleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Suffix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Suffix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.JobTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.JobTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Department)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.GroupName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.GroupName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.StartDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = model.Employee.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
