@model DemoApp.Models.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
@Html.DropDownList("categoryId", Model.CategoryList)

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
            @*<label>Name</label>*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Color)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
