@model WebDemo.Shared.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Supplier</label>
        </dt>
        <dd class="col-md-3">
            <select asp-items="Model.SupplierList" class="form-control"></select>

            @*@Html.DropDownList("supplierId", Model.SupplierList, null, new { @class="form-control" })*@
        </dd>
        <dt>
            <label asp-for="Product.Id"></label>
            @*@Html.DisplayNameFor(model => model.Product.Id)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt>
            <label asp-for="Product.SupplierId"></label>
            @*@Html.DisplayNameFor(model => model.Product.SupplierId)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.SupplierId)
        </dd>
        <dt>
            <label asp-for="Product.UnitPrice"></label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.UnitPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Package)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Package)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.IsDiscontinued)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.IsDiscontinued)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
